<h1>Search Results</h1>
<table class="table">
<tbody>
<thead>
    
      <th>Name</th>
      <th>Description</th>
      <th>User</th> 
      <th colspan="3"></th>
    </tr>
  </thead>
<%= render @itemtests %>
</tbody>
</table>